@import "tailwindcss";

@theme {
  /* Colors */
  --color-white: hsl(0, 100%, 100%);
  --color-purple-100: hsl(275, 100%, 97%);
  --color-purple-600: hsl(292, 16%, 49%);
  --color-purple-950: hsl(292, 42%, 14%);

  /* Font family */
  --font-base: "Work Sans", sans-serif;

  /* Breakpoints */
  --breakpoint-desktop: 29.375rem;
}

/* Footer */
  /* Provided code */
.attribution {
  font-size: 11px;
  text-align: center;
}